<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="WhiteWingsApi.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
    <applicationSettings>
        <WhiteWingsApi.Properties.Settings>
            <setting name="WhiteWingsApi_com_bossrevmts_qa_WWCDTC" serializeAs="String">
                <value>https://qa.bossrevmts.com:8088/WWCDTC.svc</value>
            </setting>
        </WhiteWingsApi.Properties.Settings>
    </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="2638cd05610744eb" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.11.0.0" newVersion="3.11.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="white_wings_client_url" value="https://qa.bossrevmts.com:8088/WWCDTC.svc" />
    <add key="DBServer" value="denaliqa1\\mtspp,1444" />
    <add key="DBName" value="IDTMTS" />
    <add key="DBUser" value="mtsapp" />
    <add key="DBPassword" value="N3wQAdb2019" />
    <add key="testrail_run_id" value="-1" />
    <add key="testrail_username" value="" />
    <add key="testrail_password" value="" />
    <add key="testrail_url" value="https://idt.testrail.net/" />
  </appSettings>
</configuration>